* {
  margin: 0em;
  padding: 0em;
}

body {
  font-size: 16px;
  margin: 1em auto;
  width: 100em;
  font-family: serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  border-bottom: 1px solid black;
  padding: 1em;
}

header>a {
  font-size: 2em;
}

header>h1 {
  text-align: center;
  color: orange;
}

.pageWraper {
  padding: 1em;
  display: flex;
  column-gap: 1em;
}

figure {
  width: 90em;
  height: 35em;
  border: 1px solid black;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1em;
}